@import "/variables/variables.css";

body {
  text-align: center;
}

.appHeader {
  background-color: var(--primary0);
  padding: var(--gutter);
  color: white;
}

.appIntro {
  font-size: large;
}

.appTicker {
  font-size: medium;
}
