@import "/config/variables.css";

.navBar {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: center;
}

.navItem {
    cursor: pointer;
    text-decoration: none;
    color: var(--white);
}

.navItem + .navItem {
    margin-left: var(--gutter);
}
