:root {
    --navy: #001F3F;
    --blue: #0074D9;
    --aqua: #7FDBFF;
    --teal: #39CCCC;
    --olive: #3D9970;
    --green: #2ECC40;
    --lime: #01FF70;
    --yellow: #FFDC00;
    --orange: #FF851B;
    --red: #FF4136;
    --fuchsia: #F012BE;
    --purple: #B10DC9;
    --maroon: #85144B;
    --white: #FFFFFF;
    --silver: #DDDDDD;
    --gray: #AAAAAA;
    --black: #111111;

    --primary0: #BF7D00; /* Main color */
    --primary1: #FCA500;
    --primary2: #D88E00;
    --primary3: #A76E00;
    --primary4: #8E5D00;

    --secondary0: #BF4D00;	/* Main Secondary color */
    --secondary1: #FC6600;
    --secondary2: #D85700;
    --secondary3: #A74400;
    --secondary4: #8E3A00;

    --ternary0: #BF9F00;	/* Main Secondary color */
    --ternary1: #FCD200;
    --ternary2: #D8B400;
    --ternary3: #A78B00;
    --ternary4: #8E7700;

    --complement0: #0A317F;	/* Main Complement color */
    --complement1: #0F42A8;
    --complement2: #0C3990;
    --complement3: #072A6F;
    --complement4: #05235F;
}
