@import "/config/variables.css";

:root {
    --matrixWidth: 1080px;
}

.matrix {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: var(--matrixWidth);
    padding: var(--gutter);
}

.image {
    max-width: fit-content;
    background-color: var(--white);
    border-radius: var(--borderRadius);
    padding: var(--gutterMini);
    margin: var(--gutter);
}

